<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Servlet0614</display-name>
  
  <servlet>
  	<servlet-name>Hello</servlet-name>
  	<!-- 패키지 주소 전부 적어야함 -->
  	<servlet-class>com.eyecile.test.HelloController</servlet-class>
  </servlet>
  
  <!--해당 주소로 연결할거임-->
  <servlet-mapping>
  	<servlet-name>Hello</servlet-name>
  	<url-pattern>/hello</url-pattern>
  </servlet-mapping>
  
  <!-- 예제 1번 url mapping -->
  <servlet>
 	<servlet-name>ex01</servlet-name>
 	<servlet-class>com.eyecile.servlet.ex.ServletEx01Controller</servlet-class>
  </servlet>
  <!-- 이 서블릿이 어떤 주소로 접속 가능할지 설정하기 -->
  <servlet-mapping>
 	<servlet-name>ex01</servlet-name>
 	<url-pattern>/servlet/ex01</url-pattern>
  </servlet-mapping>

<!-- 테스트 1번 url mapping -->
  <servlet>
   <servlet-name>test01</servlet-name>
   <servlet-class>com.eyecile.test.ServletTest01Controller</servlet-class> 
  </servlet>
  <servlet-mapping>
   <servlet-name>test01</servlet-name>
   <url-pattern>/servlet/test01</url-pattern>
  </servlet-mapping>

<!-- 테스트 2번 -->
  <servlet>
   <servlet-name>test02</servlet-name>
   <servlet-class>com.eyecile.test.ServletTest02Controller</servlet-class>
  </servlet>
  <servlet-mapping> 
  	<servlet-name>test02</servlet-name>
  	<url-pattern>/servlet/test02</url-pattern>
  </servlet-mapping>

  




</web-app>










